
body {
     margin: 0;
     padding: 0;
     text-align: center;
}
#container{
    
    width:980px;
    background-color:silver;
	margin-left: 14%;
	margin-right: 10%;
	overflow:auto;
}
#header{
       
   width:415px;
    margin-left:350px; 
    height:100px;
    background-image:url("../pics/loggName.png");
    background-repeat:no-repeat;
    
    
}
#navigation{
    background-color:#b1f3b7;
    float:left;
 
    width:200px;
    border-right:1px solid black;
    border-top:1px solid black;
  height: 200vh;
}
#content{
    float:left;
    	margin-left: 15%;
	margin-right: 15%;
    width:415px;
  
}
#footer{
    float:left;
    height:100px;
   
    border:1px solid black;
    background-color:white;
 
    width:978px;
    /*margin-left:350px;*/ 
    
}
#forms{
    width:400px;
   		float:left;
   		height:500px; 
	
}

#dryck{
    float:left;
    
}
#antal{
    float:left;
}
#dMine{
    margin-top:12px;
    float:left;
}
#dropdowndryck{
    float:left;
    margin-left:123px;
}
#footertext{
    margin-top:60px;
}