html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{
	line-height: 1;
    	background-image:url(../pics/wall.png);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
     margin: 0;
     padding: 0;
     text-align: center;
}
/* Reset*/
#content h1{
    font-family:'Roboto Slab', serif;
    font-size:30px;
}
#content h2{
    font-family:'Roboto Slab', serif;
}


#content a {
    color: green;
     text-decoration: none;

}
#content a:hover {
    text-decoration: underline;
}
#container{
    
    
    box-shadow: 5px 5px 5px 5px  #888888; 
    width:980px;
    margin-left:20%;
	margin-right:10%;
	background-image:url("../pics/background/silver.jpg");
	background-size:cover;
	background-repeat:no-repeat;
    margin: auto;
    
    
    
	overflow:auto;

}


#header{
    background-color:white;       
    width:auto;
    height:100px;
    margin:0 auto;
    
    
}
#logga{
     background-image:url("../pics/loggName.png");
     background-repeat:no-repeat;
     width:auto;
     height:100px;
     margin-left:35%;
}

.icon{
    background-image: url("../pics/icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;

    

} 

#navigation{
    background-color:white;
    float:left;
   height:122px;
    width:170px;
    box-shadow: 5px 5px 5px 5px  #888888; 
    /*border-right:1px solid black;
    border-top:1px solid black;
   height: 200vh;
 */
}


#content{
    
    margin-left:28%;
	margin-right: 15%;
    width:420px;
    	 
}

#footer{
    float:left;
    height:100px;
   
    border-top:1px solid black;
    background-color:white;
 
    width:100%;
  
    
  
}
#footertext{
    background-image:url(../pics/IconFooter.png);
    background-repeat:no-repeat;
    background-size:40px 40px;
    
    
}
#forms{
    margin-top:90px;
    width:350px;
   	float:left;
   	height:300px; 
	border:2px solid white;
}
#forms label{
    font-size:20px;
}
#dryck label{
   
   padding-top:5px;
}
#topp{
    float:left;
    margin-left:35%;
}


#antal{
    float:left;
    border-bottom:1px solid white;
}
#dMine{
    padding-top:10px;
    float:left;
    border-bottom:1px solid white;
}
#dMine label{
    float:left;
     border-bottom:1px solid white;
}
#dropdowndryck{
    float:left;
    border-bottom:1px solid white;
}
#antal{
    float:left;
}
#footertext{
    margin-top:20px;
    height:50px;
}

/*menu*/
#sociallist{
      
        margin: 0;
        padding:0;
        width:200px;
        list-style-type: none;
        font-size: 100%;
       background-image:url(../pics/background/silver.jpg);
        border-bottom: 1px solid black;
       margin-left:-35px;
    }
#sociallist a{ 
        
        display: block;
        width:175px; height:20px;
        padding-left: 1.40em; padding-top: 0.25em;
        padding-bottom: 0.25em;
        text-decoration: none;
        border-top: 1px solid black;
        border-right: 1px solid black; 
        border-left: 1px solid black;
         
        
     
}    

#menu a{
   
             display:none;
    
    
}
#listfamilj{
    
}
.list1{
  
}
.list1{
  float:left;
  margin-left:125px;
  width: 120px;
  border:1px solid black;
  background-color: white;  
}
.list2{
  float:left;
 margin-left: 120px;
 background-color: white;
 width:200px;
 border:1px solid black;
}

#rubArbete{
    float:left;
}
.list3{
  float:left;
}
#linksrecomend{
    float: left;
}
/*ehrhdkjfk*/
li.liJobb1{
    
    width:50px;
}
li.liJobb2{
     width:50px;
   
}
li.liJobb3{
     width:190px;
   
}
li.liJobb4{
     width:50px;
}
#textLorem{
    margin:0 auto;
    float:left;
}
#textLorem img{
    float:left;
    width:70px;
    height:70px;
}
#content  dd, dt{
    background-color: white;
    padding-top:20px;
}
#lab2{
    margin-bottom:30px;
}
/*
#content table{
    background-color:#66FF33;
margin-left: 60px;
}*/


#content table {
        
        width:400px;
        border:1px solid;
        margin:1%;
        background-image:url(../pics/background/silver.jpg);
        border-right:none;
        border-top:none;
        display:  table;
        border-bottom:none;
        
}
#table td,th {
 

 text-align: center;
 line-height:30px;
 border:1px solid;
  border-left:none;
}
#h1Index{
    padding-top:40px;
}
#content h3{
    padding:10px;
}
h1{
    padding-top:10px;
    padding-bottom:10px;
}
h2{
    line-height:30px;
}
p{
    line-height:20px;
}
#content ul li a{
   margin-top:20px;
    
}
#lablink{
    pading-top:50px;
}
/*sprites*/
#start{
  background:url(../pics/sprite.png)40px -47px;
  background-repeat:no-repeat; 
    
}
#start a:hover{
    background:url(../pics/sprite.png)39px -0px;
      background-repeat:no-repeat;
    
}
#press  {
    background:url(../pics/sprite.png)40px -236px;
    background-repeat:no-repeat;
    
    } 

#press a:hover{
    background:url(../pics/sprite.png)39px -189px;
    background-repeat:no-repeat;
}
#kon{
    background:url(../pics/sprite.png)39px -330px;
    background-repeat:no-repeat;  
    
    } 

#kon a:hover{
    background:url(../pics/sprite.png)38px -283px;
    background-repeat:no-repeat;  
}
#lab{
    background:url(../pics/sprite.png)39px -143px;
    background-repeat:no-repeat; 
    
    
    } 

#lab a:hover{
    background:url(../pics/sprite.png)38.4px -96px;
    background-repeat:no-repeat; 
   
}
#bunny{
    	max-width: 100%;
	height: auto;
}


