
body {
     margin: 0;
     padding: 0;
     text-align: center;
}

#content a {
    color: green;
     text-decoration: none;

}
#content a:hover {
    text-decoration: underline;
}
#container{
    
    width:980px;
    background-color:silver;
	margin-left: 14%;
	margin-right: 10%;

	overflow:auto;
}
#header{
    background-color:white;       
   width:100%;
    height:100px;
   
    
    
}
#logga{
     background-image:url("../pics/loggName.png");
     background-repeat:no-repeat;
     width:300px;
     height:100px;
     margin-left:405px;
}
#pngLogga{

}
.icon{
    background-image: url("../pics/icon.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;

    

}     
#navigation{
    background-color:white;
    float:left;
 
    width:170px;
    /*border-right:1px solid black;
    border-top:1px solid black;
   height: 200vh;
 */
}
#content{
    float:left;
    margin-left: 15%;
	margin-right: 15%;
    width:415px;
  
}
#footer{
    float:left;
    height:100px;
   
    border-top:1px solid black;
    background-color:white;
 
    width:100%;
  
    overflow:hidden;
    
}
#forms{
    width:400px;
   		float:left;
   		height:500px; 
	
}

#dryck{
    float:left;
    
}
#antal{
    float:left;
}
#dMine{
    margin-top:12px;
    float:left;
}
#dropdowndryck{
    float:left;
    margin-left:123px;
}
#footertext{
    margin-top:20px;
}

/*menu*/
#sociallist{
      
        margin: 0;
        padding:0;
        width:159px;
        list-style-type: none;
        font-size: 100%;
        background: silver;
        border-bottom: 1px solid black;
       margin-left:-35px;
    }
#sociallist a{ 
    
        display: block;
        width: 135px; height:20px;
        padding-left: 1.40em; padding-top: 0.25em;
        padding-bottom: 0.25em;
        text-decoration: none;
        border-top: 1px solid black;
        border-right: 1px solid black; 
        border-left: 1px solid black;
         
        
     
}    
.active{
    color:white; 
    
}
a:hover, a:active{
    color:blue;
  
}
#menu a{
            display:none;
    
    
}
#listfamilj{
    
}
.list1{
  
}
.list1{
  float:left;
  margin-left:125px;
  width: 120px;
  border:1px solid black;
  background-color: white;  
}
.list2{
  float:left;
 margin-left: 120px;
 background-color: white;
 width:200px;
 border:1px solid black;
}

#rubArbete{
    float:left;
}
.list3{
  float:left;
}
#linksrecomend{
    float: left;
}
/*ehrhdkjfk*/
li.liJobb1{
    
    width:50px;
}
li.liJobb2{
     width:50px;
   
}
li.liJobb3{
     width:190px;
   
}
li.liJobb4{
     width:50px;
}
#textLorem{
    margin:0 auto;
    float:left;
}
#textLorem img{
    float:left;
    width:70px;
    height:70px;
}
#content  dd{
    background-color: white;
}
#content table{
    background-color:#66FF33;
margin-left: 60px;
}

